@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.links {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	padding-top: 200px;
}

.button {
	background-color: #54d676;
	color: white;
	padding: 50px;
}
