@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.links {
	text-align: center;
	padding-top: 170px;
	margin: 50px;
}

h2 {
	margin: 30px;
}

.button {
	font-family: 'Fjalla One', sans-serif;
	background-color: #54d676; /* Mint Green */
	color: white;
	padding: 10px;
	text-decoration: none;
	border-radius: 15px;
}

.button:hover {
	background-color: #2e2e2d;
}

#homepage {
	padding-top:  44%;
    padding-left: 0.5%;
}

.truus { 
  background: url(../img/truus.jpg) 0% 26% no-repeat; /* 50% 50% centers image in div */
  width: 150px;
  height: 150px;
  background-size: 150px;

}

.bella  { 
  background: url(../img/bella.jpg) 0% 26% no-repeat; /* 50% 50% centers image in div */
  width: 150px;
  height: 150px;
  background-size: 150px;

}


.outer {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

